
<section class="alt-section section-contact">
  <h3 id="contact">Contact me on</h3>
  <div class="social-links"><a href="{{ site.data.content.facebook }}" class="icon-facebook"></a><a href="{{ site.data.content.googlep }}" class="icon-google-plus"></a><a href="{{ site.data.content.linkedin }}"><span class="icon-linkedin"></span></a><a href="#/" title="{{ site.data.content.skype }}" class="no-link"><span class="icon-skype"></span></a><a href="{{ site.data.content.github }}" class="icon-git"></a></div>
  <hr class="bar"/><a href="mailto:{{ site.data.content.email }}" class="big-link">{{ site.data.content.email }}</a>
</section>